body{
    background-color: #624462;
}
div#botoes{
    text-align: center;
}
input{
    height: 60px;
    width: 300px;
    border-radius: 20px;
    font: bold 25px arial, sans-serif;
    color: #e94bb8;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.411) 4px 4px 4px;
}
div#logo{
    text-align: center;
    margin: 50px;
}
p{
    margin: 100px;
    font-size: 8px;

    font-family: Arial;
    color: white;
    text-align: center;
}
/*
input#b1{
    width: 880px;
    border-radius: 45px;
    padding: 15px;
    margin: auto;
}
*/
brand{
    text-align: center;
}
footer{
    color: white;
    font-size: 12px;
    margin: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}